<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brycehan.boot.pay.mapper.PayPaymentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.brycehan.boot.pay.entity.po.PayPayment">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="transaction_id" property="transactionId" />
        <result column="payment_type" property="paymentType" />
        <result column="trade_type" property="tradeType" />
        <result column="trade_state" property="tradeState" />
        <result column="payer_total" property="payerTotal" />
        <result column="content" property="content" />
        <result column="deleted" property="deleted" />
        <result column="created_user_id" property="createdUserId" />
        <result column="created_time" property="createdTime" />
        <result column="updated_user_id" property="updatedUserId" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, transaction_id, payment_type, trade_type, 
        trade_state, payer_total, content,
        deleted, created_user_id, created_time, updated_user_id, updated_time
    </sql>

</mapper>
