<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brycehan.boot.ma.mapper.MaUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.brycehan.boot.ma.entity.po.MaUser">
        <id column="id" property="id" />
        <result column="nickname" property="nickname" />
        <result column="avatar" property="avatar" />
        <result column="gender" property="gender" />
        <result column="country" property="country" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="county" property="county" />
        <result column="language" property="language" />
        <result column="phone" property="phone" />
        <result column="open_id" property="openId" />
        <result column="union_id" property="unionId" />
        <result column="account" property="account" />
        <result column="birthday" property="birthday" />
        <result column="full_location" property="fullLocation" />
        <result column="profession" property="profession" />
        <result column="tag_ids" property="tagIds" />
        <result column="group_id" property="groupId" />
        <result column="qr_scene_str" property="qrSceneStr" />
        <result column="geo_latitude" property="geoLatitude" />
        <result column="geo_longitude" property="geoLongitude" />
        <result column="geo_precision" property="geoPrecision" />
        <result column="session_key" property="sessionKey" />
        <result column="session_created_time" property="sessionCreatedTime" />
        <result column="remark" property="remark" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, nickname, avatar, gender, country,
        province, city, county, language, phone, open_id,
        union_id, account, birthday, full_location, profession,
        tag_ids, group_id, qr_scene_str, geo_latitude, geo_longitude,
        geo_precision, session_key, remark, created_time,
        updated_time
    </sql>

</mapper>
