<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brycehan.boot.mp.mapper.MpMessageReplyRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.brycehan.boot.mp.entity.po.MpMessageReplyRule">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="match_value" property="matchValue" />
        <result column="exact_match" property="exactMatch" />
        <result column="reply_type" property="replyType" />
        <result column="reply_content" property="replyContent" />
        <result column="status" property="status" />
        <result column="effect_time_start" property="effectTimeStart" />
        <result column="effect_time_end" property="effectTimeEnd" />
        <result column="priority" property="priority" />
        <result column="remark" property="remark" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="created_user_id" property="createdUserId" />
        <result column="created_time" property="createdTime" />
        <result column="updated_user_id" property="updatedUserId" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, match_value, exact_match, reply_type, 
        reply_content, status, effect_time_start, effect_time_end, priority, 
        remark, version, deleted, created_user_id, created_time, 
        updated_user_id, updated_time
    </sql>

</mapper>
