<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brycehan.boot.mp.mapper.MpQrCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.brycehan.boot.mp.entity.po.MpQrCode">
        <id column="id" property="id" />
        <result column="is_temporary" property="isTemporary" />
        <result column="scene_str" property="sceneStr" />
        <result column="ticket" property="ticket" />
        <result column="url" property="url" />
        <result column="expire_time" property="expireTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, is_temporary, scene_str, ticket, url, 
        expire_time, create_time
    </sql>

</mapper>
