<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brycehan.boot.mp.mapper.MpUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.brycehan.boot.mp.entity.MpUser">
        <id column="open_id" property="openId" />
        <result column="phone" property="phone" />
        <result column="nickname" property="nickname" />
        <result column="head_img_url" property="headImgUrl" />
        <result column="sex" property="sex" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="tag_ids" property="tagIds" />
        <result column="subscribe" property="subscribe" />
        <result column="subscribe_time" property="subscribeTime" />
        <result column="subscribe_scene" property="subscribeScene" />
        <result column="qr_scene_str" property="qrSceneStr" />
        <result column="union_id" property="unionId" />
        <result column="language" property="language" />
        <result column="remark" property="remark" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        open_id, phone, nickname, head_img_url, sex, 
        province, city, tag_ids, subscribe, subscribe_time, 
        subscribe_scene, qr_scene_str, union_id, language, remark, 
        created_time, updated_time
    </sql>

</mapper>
